.detail {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  h1 {
    font-family: "Orbitron", sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  }

  &__box {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;

    &--info {
      text-align: justify;

      img {
        width: 300px;
      }

      p {
        font-weight: bold;
      }

      span {
        font-weight: 200;
      }
    }

    &--drivers {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      &--img {
        display: flex;
        flex-direction: row;

        img {
          width: 260px;
        }
      }

      &--car {
        img {
          width: 600px;
        }
      }
    }
  }
}
